body {
    background-image: url(Imagens/Fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: verdana;
    max-width: 930px;
    margin: auto;
}

.post_image {
    border: solid #000;
    border-radius: 150px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.stitle {
    font-size: 10px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #000;
}

.post {
    background: #fff;
    padding: 15px 10px 5px;
    border: 2px solid #413b3b;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: left;
}

.post_image {
    margin-bottom: 15px;
    width: 100px;
}

.Contacts_list {
    list-style-type: none;
    padding-left: 15px;

}

.Contacts_list lI a {
    text-decoration: none;
}
