body {
    background: #e0dddd
}

.post_image {
    border: solid #000;
    border-radius: 150px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.stitle {
    font-size: 10px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #000;
}

.post {
    background: #fff;
    padding: 15px 10px 5px;
    border: 2px solid #413b3b;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-button: 15px;
}

.post_image {
    margin: 0;
    margin-button: 15px;
}